@import "../helpers/helpers";

.featured-products {
  max-width: 1660px;
  overflow: hidden;

  &__title {
    font-size: 64px;
    font-weight: 600;
    line-height: 110%;
    text-align: center;
    margin: 0 0 30px;

    @include media(1100px) {
      font-size: 42px;
      margin: 0 0 15px;
    }

    @include media(750px) {
      font-size: 22px;
      margin: 0 0 15px;
      text-align: left;
    }
  }

  &__subtitle {
    max-width: 564px;
    margin: 0 auto;
    color: rgb(142, 131, 133);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;

    @include media(1100px) {
      font-size: 16px;
    }

    @include media(750px) {
      font-size: 14px;
      line-height: 19px;
      text-align: left;
      margin: 0;
    }
  }

  &__button {
    color: inherit;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

    @include media(1100px) {
      margin-bottom: 40px;
    }

    @include media(750px) {
      font-size: 12px;
      justify-content: flex-start;
      margin-bottom: 30px;
    }
  }

  &__slider {
    overflow: visible;

    .swiper-wrapper {
      gap: 29px;
      box-sizing: border-box;

      @include media(1350px) {
        gap: 0;
      }

      .swiper-slide {
        flex-shrink: 1;

        @include media(1350px) {
          flex-shrink: 0;
          height: auto;
        }

        .featured__product {
          &-image {
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
            margin-bottom: 26px;

            img {
              width: 100%;
              height: auto;
              object-fit: cover;
              display: block;
            }
          }

          &-vendor {
            color: rgb(104, 90, 92);
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            font-family: "Tiempos";
            margin-bottom: 9px;
          }

          &-title {
            color: #2b2424;
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
            margin-bottom: 5px;
          }

          &-pricing {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: auto;
            margin-bottom: 15px;

            .price {
              color: rgb(104, 90, 92);
              font-size: 16.15px;
              font-weight: 600;
              line-height: 22px;
              letter-spacing: 1px;
              text-transform: uppercase;
            }

            .featured__product-reviews {
              display: flex;
              align-items: center;
              gap: 3px;

              .featured__product-reviews-text {
                font-weight: 600;
                color: rgb(142, 131, 133);
                font-size: 11px;
                line-height: 15px;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin-left: 7px;
              }
            }
          }

          &-form {
            position: relative;
            z-index: 2;

            .button {
              color: rgb(142, 131, 133);
              font-size: 14px;
              font-weight: 700;
              line-height: 19px;
              letter-spacing: 1px;
              text-transform: uppercase;
              border: 1px solid rgb(217, 214, 214);
              border-radius: 5px;
              transition: 0.3s;

              &:after,
              &:before {
                content: none;
              }

              &:hover {
                transform: translate(0, -3px);
                border: 1px solid #575555;
                color: #2b2424;
              }
            }
          }
        }
      }
    }
  }
}
