{{ 'section-banner.css' | asset_url | stylesheet_tag }}

<section class="banner">
   
</section>

{% schema %}
{   
    "name": "Banner",
    "settings": [
        
    ],
    "presets": [
        {
            "category": "Banner",
            "name": "Banner"
        }
    ]
}
{% endschema %}