{% layout none %}
<!DOCTYPE html>
<html>

<head>
  <title>Please Log In</title>
</head>
<body>

  <div id='container'>
    <div id='login'>
      <div>
        <h1>{{ shop.name }}</h1>
        {% if shop.password_message and shop.password_message != '' %}
          {{ shop.password_message }}
        {% else %}
          <p><span class="default-text">Will be opening soon...</span></p>
        {% endif %}
      </div>
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for='password'>Enter store using password: </label>
        <input type='password' name='password' id='password' autofocus />
        <div class="actions">
          <input class="btn" name="commit" type="submit" value="Enter" />
        </div>
      {% endform %}
    </div>

    <div id='footer'>
      <div id='owner'>Are you the store owner? <a href="/admin">Log in here</a> or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div>
      <div id='powered'>
        This store is powered by <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify" rel="nofollow">Shopify</a>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    document.getElementById('password').focus();
  </script>

</body>
</html>
